name: CI Cache Assignment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: prime-cache-283a280
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-283a280

      - name: Show cache result
        run: echo "Cache hit? -> ${{ steps.cache-step.outputs.cache-hit }}"
